@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/*---------------------------------------------------Colours */
.bg-color-name-title {
    background: linear-gradient(to right, #393f4d, #12343b);
}

.bg-color-three-reasons {
    background-color: #fff;
}

.bg-color-personal-info {
    background: linear-gradient(to bottom, #393f4d, #12343b);
}

.ui-menu-color-home {
    background-color: #12343b;
}

.ui-menu-color-resume {
    background-color: #F7C331;
}

.ui-menu-color-contact {
    background-color: #6B7A8F;
}

.ui-menu-color-download {
    background-color: #525252;
}

.bg-color-work-history {
    background: #F7C331;
}

.bg-color-contact {
    background-color: #fff;
}

/*---------------------------------------------------Special paddings margin/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}


.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: 'Kanit', sans-serif;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}


.row-table {
    display: table;
}


.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}


.history-heading,
.section-heading {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
    text-underline-offset: 15px;
}


.personal-info-color {
    border-bottom: 2px solid #feda6a;
    
}

.myBtn {
    background-color: #e67e22;
    border-radius: 5px;
    /* Green */
    border: none;
    color: white;
    padding: 4px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Kanit', sans-serif;
}


/*---------------------------------------------------Heading */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.circle {
    min-height: 250px;
    min-width: 300px;
    display: inline-block;
    background-color: #393f4d;
    position: relative;
}

.logo {
    background: url(../images/profile.jpg);
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background-color: #393f4d;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    display: inline-block;
    border: 2px solid #feda6a;
    margin: 10px 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
}

.name {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 46px;
    margin-top: 50px;
    color: #feda6a;
}

.title {
    font-family: 'Abel', sans-serif;
    color: #F7C331;
    font-weight: 100;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 90px;
    letter-spacing: 2px;
}

.list-inline-item:not(:last-child) {
    /* This cancels margins between the list items */
    margin: 0;
}

.menucontainer {
    /* This cancells the margin between the left of the photo and the start of the list , However makes all the fonts small so has to be fixed by adding font size to its child elements */
    font-size: 0;
}

#nav {
    margin: 0;
    /* This cancels bottom margin between the photo and the list */
}

#nav li {
    /* This is a fix for menu contaienr font size 0 */
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Kanit', sans-serif;
}

.font-description {
    font-family: 'Abel', sans-serif;
    font-weight: 300;
}


.history-items-color {
    color: #12343b;
}

/*---------------------------------------------------Hover.CSS */

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2);
    height: 120px;
}


/*---------------------------------------------------Footer */

footer {
    background-color: #12343b;
    color: #fafafa;
    min-height: 120px;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    /* This is for Mozilla webkit browsers and opera*/
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50px;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    -moz-transition: all 0.35s ease-in-out;
    /* This is for Mozilla webkit browsers and opera*/
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

.rights {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 10px;
    color: #e67e22;
}



/*---------------------------------------------------Three reasons */

.three-reasons-icon {
    font-size: 26px;
    color: #e67e22;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

.more {
    display: none;
}


/*---------------------------------------------------Personal info */

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
    font-weight: 100;
    font-family: 'Abel', sans-serif;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
    font-weight: bold;
    color: black;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 500;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
    font-weight: 300;
    font-size: 15px;
    color: #feda6a;
}

.history {
    font-family: 'Abel', sans-serif;
    font-weight: 500;
    color: black;

}

.history-text {
    font-family: 'Abel', sans-serif;
    font-weight: 300;
    color: #feda6a;
    font-size: 15px;

}

@-webkit-keyframes altrclr {
    0% {
        color: red;
    }

    50% {
        color: green;
    }
}

#a {
    font-size: 22px;
    color: red;
    -webkit-animation: altrclr 3s infinite alternate;
    -webkit-transform: scale(1);
    display: inline-block;
}


/*---------------------------------------------------Skills */

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    /* Top Right Bottom Left */
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
    margin: 40px 20px;
    /* 40px top and bott , 20px left right */
}

/*--------------------------------------------------- Work History */

.history-heading {
    color: #12343b;
    margin-bottom: 50px;
    border-bottom: 2px solid #fff;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #12343b;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
    color: #12343b;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.history-items {
    margin-bottom: 30px;
}

.resume-text {
    font-family: 'Abel', sans-serif;
    color: #12343b;
}

/*--------------------------------------------------- Contact Form */

.contact-heading {
    font-family: 'Abel', sans-serif;
    font-weight: 800;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #feda6a;
    letter-spacing: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

.contact-heading-two {
    font-family: 'Abel', sans-seri;
    color: #feda6a;
    background-color: rgba(0, 0, 0, 0.4);
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    /* 0 top bottom center left right */
    max-width: 70%;
}

.form-control {
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #525252;
    font-family: 'Abel', sans-serif;
}

.image-wall {
    background: url(../images/image.jpg) center no-repeat;
    background-size: cover;
}


/*--------------------------------------------------- Media Queries */

@media(min-width: 992px) {

    /* applies to screens larger than 992 px ) */
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }

}

@media(max-width: 750px) {
    .bg-color-name-title {
        background: linear-gradient(to bottom, #393f4d, #12343b);
    }

    .logo {
        background: url(../images/profile.jpg);
        height: 200px;
        width: 200px;
        border-radius: 100%;
        background-color: #393f4d;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        display: inline-block;
        border: 2px solid #feda6a;
        margin: 10px 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0px;
    }

    .circle {
        min-height: 0px;
        height: 215px;
        min-width: 215px;
        display: inline-block;
        background-color: #393f4d;
        position: relative;
    }

    .heading {
        margin-left: 0;
    }

    .name {
        margin: 0;
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }

    .title {
        font-family: 'Abel', sans-serif;
        color: #F7C331;
        font-weight: 200;
        font-size: 12px;
        margin: 0 auto;
        margin-bottom: 10px;
        padding-left: 10px;
        letter-spacing: normal;
        text-align: center;

    }
}